<configuration>
  <connectionStrings>
    <add name="db_RentalCar"
         connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=carbookingsys_;User ID=carbookingsys_;Password=jiuxib7ysr;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <!-- Show full error on browser for debugging -->
    <customErrors mode="Off"/>
  </system.web>
</configuration>
